.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.vp-player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.vp-video-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
.vp-controls {
    display: flex;
    align-items: center;
    background-color: black;
}
.vp-btn {
    width: 25px;
    height: 45px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 15pt;
}
.vp-play-btn {
    margin-left: 3px;
}
.vp-volume-btn {
    margin-left: 11px;
}
.vp-progress {
    display: flex;
    flex-grow: 1;
    background: rgb(0, 0, 0);
    margin: 0 9px;
    margin-top: 2px;
    height: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.vp-progress-bar {
    background-color: red;
    border-radius: 3px;
}
.vp-current-time {
    color: white;
    font-size: 12pt;
    margin-left: 10px;
    margin-top: 2px;
}
.vp-duration-time {
    color: white;
    font-size: 12pt;
    margin-right: 5px;
    margin-top: 2px;
}
.js-fullscreen-button {
    margin-right: 9px;
}
.js-progress-slider {
    position: relative;
    height: 100%;
}
.vp-marker {
    position: absolute;
    top: 50%;
    left: 100%; 
    transform: translate(-50%, -50%);
    height: 8px;
    width: 8px;
    background-color: red;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .3s;
    pointer-events: none;
    z-index: 2;
}