.vp-player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.vp-video-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
.vp-controls {
    display: flex;
    align-items: center;
    background-color: black;
}
.vp-btn {
    width: 25px;
    height: 43px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 15pt;
    margin: 0 5px;
}
.vp-spacer {
    flex-grow: 1;
}
.js-fullscreen-button {
  margin-right: 5px;
}